<html xmlns:th="http://thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout}"
>
    <head>
        <title>Club Create</title>
    </head>
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form class="row g-3" role="form" method="post" th:action="@{/clubs/new}" th:object="${club}" >
                <div class="col-md-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name = "title" th:field= "*{title}" placeholder="Title">
                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                    <label for="photoUrl" class="form-label mt-4">PhotoUrl</label>
                    <input type = "text" class="form-control" id="photoUrl" name = "photoUrl" th:field= "*{photoUrl}" placeholder="PhotoUrl">
                    <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
                </div>
                <div class="col-12">
                    <label for="content" class="form-label">Content</label>
                    <input type="text" class="form-control" id="content" name="content" th:field= "*{content}"placeholder="Content">
                    <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                </div>
                <div class="col-1">
                <button class="btn btn-primary" type="submit">
                    Create
                </button>
                </div>
            </form>
        </div>
    </section>
</html>